/* Stylesheet for Playbook*/
:root {
    --steep: rgba(61, 59, 59, 0.5);
    --pop: #09A7A1; 
    --lovely: rgb(123, 43, 100);
    --orange: #FF7F00;
    --rasp: #FF007F;
    --starynight: linear-gradient(black, #000099, #66c2ff, #ffcccc, #ffeee6);

}
body {
    /*background-color: var(--lovely);*/
    background: var(--lovely);
    text-align: justify;
   
}
h1 {
    color: whitesmoke;
    /*text-decoration: underline;*/
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: capitalize;
    padding: 15px;
    margin: 15px;
    text-align: center;
}
#my-picture{
    max-width: 50%;
    max-height: auto;
 /* to make an image responsive use: max-width: 100%; height: auto; */
 /* To improve image appearance on high res screens, set height and width to 0.5 original size */
    border-radius: 5px;
}
button{
    background-color: rgba(40, 189, 40, 0.575);
    color: white;
    /* margin: 5px;
    padding: 5px; */
    border-radius: 5px;
    /* position: relative;
    right: 10px; */
}
button:hover{
    color: black;
    animation-name: background-color;       /* This is also part of the @keyframes code */
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}
/* How to edit an elemnet, in this case a button using @keyframes*/

  @keyframes background-color{
    100%{
      background-color: #4791d0;
    }
  }
a{
    color: rgba(250, 246, 20, 0.89);
    text-decoration: none;

}
a:hover{
    color: black;
}

.text{
    /*background: midnightblue;*/
    color: whitesmoke;
    text-align: justify;
    padding: 10px, 20px, 20px, 10px;
}
.content{
    float: left;
    width: 63%;
    padding: 5px;
}
.top-content{
    /* style to make a flex container, switch content directions  and assign width/spacing */
    display: flex;
    flex-direction: row-reverse; 
    justify-content: space-around; /*sets space btw img and text within top-content of article*/
}
/* style for image in class top content, I've set the image to occupy 25% of the flex Con width */
.top-content img{
    width: 25%;
    height: 100%;
}
#heading-dates{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    color: white;
}
.aside{
    /*position: relative;*/
    float: right;
    width: 35%;
    padding: 5px;
    background:  hsl(285, 45%, 20%);
}
.aside button{
    float: right;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }
  /*Styling the navs*/
#navbar{
    background: hsl(285, 48%, 11%);     /*Code to experiment with hue, saturation and light*/
    margin: -10px;
    position: sticky;
    /*overflow: hidden;*/
    /*position: relative;
    top: 0px;*/
}
nav ul{
    margin-top: 0px;
    padding: 20px;
    
}
nav li{
    display: inline;
    margin-right: 30px;
    padding: 15px;
    text-align: center;
}
nav li:hover{
    transform: scale(2);
    animation-name: background-color;
    animation-duration: 500ms;
    animation-fill-mode: forwards;      /* Code to prolong the animation whilst hovering*/
}
@keyframes background-color{
    100%{
      background-color: hsla(163, 66%, 48%, 0.74);
    }
  }
nav ul div{
    position: static;
    float: right;
}
#searchlabel{
    /* display: inline; */
    color:  rgba(250, 246, 20, 0.89);
    text-align: center;
}
#searchbar{
    display: inline;
    position: relative;
    border-radius: 5px;
    padding: 10px;
}

/*Practising Apllied Visual Design with a complex shape*/
.heart {
    position: relative;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: pink;
    height: 30px;
    width: 30px;
    transform: rotate(-45deg);
  }
  .heart::after {           /* <::after> and <::before> are used to add things before or after an element*/
    background-color: pink;
    content: "";
    border-radius: 50%;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0px;
    left: 25px;
  }
  .heart::before {
    content: "";
    background-color: pink;
    border-radius: 50%;
    position: absolute;
    width: 30px;
    height: 30px;
    top: -25px;
    left: 0px;
  }
footer{
    background: url('https://cdn-media-1.freecodecamp.org/imgr/MJAkxbh.png');
    margin: -15px;
    text-align: center;
    font-family: monospace;
    padding: 5px;
    /*position: relative;
    bottom: auto;*/

}